<!DOCTYPE html>
<html>

<head>
    <title>Team Engineers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="<script src='https://kit.fontawesome.com/a076d05399.js'"></script>

    <link rel="stylesheet" href="css/nav.css">
    <!--NavBar CSS-->
    <link rel="stylesheet" href="css/home.css">
    <!--LandingPage CSS-->
    <link rel="icon" type="image/x-icon" href="images/favicon.png"> <!-- Site Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Fonts Used-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <!-- / Fonts Used-->
    <style>
        html {
            scroll-behavior: smooth;
        }

        .page-section {
            margin-top: 20px;
            position: relative;
            padding-top: 20px;
            padding-bottom: 130px;
            color: #898798;
            overflow: hidden;
        }


        .title-section {
            font-family: 'Lora', serif;
            color: #645F88;
            margin: 20px 0px;
        }

        .subhead {
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #898798;
            font-weight: 500;
            margin-bottom: 23px;
        }

        .subsection {
            color: #645F88;
            margin-bottom: 36px;
        }

        .divider {
            display: block;
            margin: auto;
            width: 80%;
            height: 3px;
            border-radius: 40px;
            background-color: #6C55F9;
            animation-name: custom;
            animation-duration: 2s;
            animation-timing-function: ease-out;
            transform: scale(0.8);
        }

        .page-banner {
            color: #645F88;
            margin: auto;
            margin-top: 70px;
            display: block;
            width: 90%;
            height: 300px;
            border-radius: 35px;
        }

        .breadcrumb {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 0.75rem 1rem;
            margin-bottom: 1rem;
            list-style: none;
            background-color: #e9ecef;
            border-radius: 0.25rem;
        }

        .breadcrumb-item {
            display: -ms-flexbox;
            display: flex;
        }

        .co-heads {
            display: flex;
            align-items: center;
            padding-bottom: 100px;
        }

        .card {
            margin: 10px 173px;
            padding: 32px 20px;
            max-width: 329px;
            background-color: #6C55F9;
            color: white;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 4px 16px rgb(100 95 136 / 16%);
        }

        .card .header {
            padding-bottom: 24px;
        }

        .card .header .title {
            font-size: 1.8rem;
            display: block;
            margin-top: 8px;
            margin-bottom: 12px;
            color: white;
        }

        .card .header h5 {
            font-size: 18px;
            color: white;
            text-transform: uppercase;
        }

        .card .body {
            padding-top: 24px;
            padding-bottom: 8px;
            border-top: 1px solid #DDDBEF;
            border-bottom: 1px solid #DDDBEF;
            font-weight: 500;
        }

        .card .footer {
            padding-top: 24px;
        }

        .btn-scroll {
            position: absolute;
            top: 404px;
            margin: auto;
            width: 30px;
            height: 40px;
            font-size: 36px;
            line-height: 44px;
            background-color: #fff;
            color: #645F88;
            text-align: center;
            border-radius: 40px;
            box-shadow: 0 2px 6px rgb(100 95 136 / 24%);
        }

        #back-to-top {
            position: fixed;
            right: 12px;
            bottom: 10px;
            padding: 10px;
            width: 60px;
            height: 60px;
            font-size: 36px;
            background-color: #fff;
            color: #645F88;
            text-align: center;
            border-radius: 40px;
            box-shadow: 0 2px 6px rgb(100 95 136 / 24%);
            transform: rotate(315deg);
            visibility: hidden;
        }

        .fa:hover {
            text-decoration: none;
            color: #645F88;
            border: 2px groove rgba(99, 94, 135, 0.24);
            height: 43px;
        }
    </style>

</head>
<!--Nav Bar-->
<%-include('./nav')%>
    <!-- /Nav Bar-->

    <header>
        <div class="container">
            <div class="page-banner bg-light">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <nav aria-label="Breadcrumb">
                            <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">About</li>
                            </ul>
                        </nav>
                        <h1 class="text-center">About</h1>
                    </div>
                    <a href="#mission" class="btn-scroll fa">&#xf103;</a>
                </div>
            </div>
        </div>
    </header>

    <div id="mission" class="page-section text-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <h2 class="title-section">TEAM ENGINEERS</h2>
                    <div class="subhead"></div>
                    <div class="divider"></div>
                    <div class="message">
                        <p>Team Engineers is a group aimed to assist all UIET Engineers by offering the required study material strictly specific to UIET's curriculum, online at a minimal rate.</p>
                        <p>We work to help those poor students who can't afford expensive books and notes</p>
                        <p>Come, join us to take advantage of all the academic perks.</p>
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="img-fluid py-3 text-center">
                        <img src="images/logo.png" width="100%" height="100%" class="image">
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <div class="img-fluid py-3 text-center">
                        <img src="images/core team.png" width="100%" height="100%" class="image">
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <h2 class="title-section">OUR MISSION</h2>
                    <div class="subhead"></div>
                    <div class="divider"></div>
                    <div class="message">
                        <p>We want each and every student of UIET to get access to all the books (as prescribed in the university's syllabus)</p>
                        <p>Maximum handwritten and typed notes will be provided to everyone</p>
                        <p>No more wastage of time for searching the previous year question papers</p>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <a id="back-to-top" class="fa" href="#">&#xf124;</a>
    </body>

    <script>
        // Back to top
        $('document').ready(function () {
            var backTop = $("#back-to-top");

            $(window).scroll(function () {
                if ($(document).scrollTop() > 400) {
                    backTop.css('visibility', 'visible');
                }
                else if ($(document).scrollTop() < 400) {
                    backTop.css('visibility', 'hidden');
                }
            });

            backTop.click(function () {
                $('html').animate({
                    scrollTop: 0
                }, 0);
                return false;
            });
        });
    </script>

</html>